NUXT_DIRECTUS_URL=https://api.netdw.tech
NUXT_DIRECTUS_TOKEN=
NUXT_DIRECTUS_CONTACT_COLLECTION=contact_submissions
NUXT_DIRECTUS_INSCRICAO_COLLECTION=inscricao

NUXT_IAEDU_API_ENDPOINT=https://api.iaedu.pt/agent-chat//api/v1/agent/cmamvd3n40000c801qeacoad2/stream
NUXT_IAEDU_API_KEY=YOUR_IAEDU_API_KEY
NUXT_IAEDU_CHANNEL_ID=cmjbdlc1r00ytgr01ebwrga95
NUXT_IAEDU_DEFAULT_THREAD_ID=c7DSOeeZTQ4injN8-tAIS

NUXT_CONTACT_MIN_FILL_TIME_MS=3500
NUXT_CONTACT_RATE_LIMIT_WINDOW_MS=600000
NUXT_CONTACT_RATE_LIMIT_MAX_REQUESTS=5

NUXT_INSCRICAO_MIN_FILL_TIME_MS=3500
NUXT_INSCRICAO_RATE_LIMIT_WINDOW_MS=600000
NUXT_INSCRICAO_RATE_LIMIT_MAX_REQUESTS=5
