NUXT_DIRECTUS_URL=https://api.netdw.tech
NUXT_DIRECTUS_TOKEN=coloca-aqui-um-token-com-permissao-create-na-colecao
NUXT_DIRECTUS_CONTACT_COLLECTION=contact_messages
NUXT_CONTACT_MIN_FILL_TIME_MS=3500
NUXT_CONTACT_RATE_LIMIT_WINDOW_MS=600000
NUXT_CONTACT_RATE_LIMIT_MAX_REQUESTS=5
