[Unit]
Description=NETDW Nuxt SSR
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/netdw
EnvironmentFile=/var/www/netdw/.env
Environment=NODE_ENV=production
Environment=PORT=3000
ExecStart=/usr/bin/node /var/www/netdw/.output/server/index.mjs
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target